<div class="job-search-theme p-3">
  <div class="border-bottom">
    <div class="row">
      <div class="col"><h2>Our Vacancies</h2></div>
      <div class="col">
        <div class="dropdown float-right">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ selectedLocation?.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              *ngFor="let location of locations"
              (click)="selectLocation(location)"
              >{{ location?.name }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row" *ngFor="let job of filteredJobs" (click)="GoToJobDetails(job)">
      <div class="col-lg">
        <div class="row">
          <div class="col float-left bold">
            <h5>{{ job.title }}</h5>
          </div>
          <div class="col float-right text-right">
            {{ job.location.name | uppercase}}
          </div>
        </div>
        <div>
          {{ job.description | descriptionFilter }}
        </div>
      </div>
      <div class="col-sm-2 text-right float-right">
        {{ job.openDate }}
      </div>
    </div>
  </div>
</div>
